<div class="">
  <div class="shadow-sm">
    <mat-form-field>
      <input [formControl]="searchControl" matInput placeholder="Search Input" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControl]="inventorySelect" placeholder="Select Inventory">
        <mat-option (click)="createInventory()">+ Create New</mat-option>
        <mat-option *ngFor="let inventory of inventories$|async" [value]="inventory">{{inventory.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br/>
  <mtgi-card *ngFor="let card of cards" [@fadeIn] [card]="card" [inventory]="inventorySelect.value">
  </mtgi-card>
</div>
