<h1 mat-dialog-title>Move Selected Cards to new Inventory</h1>
<div mat-dialog-content>
  <div *ngIf="inventories$ | async; let inventories else loading" class="form">
    <mat-form-field>
      <mat-label>Move To</mat-label>
      <mat-select [formControl]="selectedInventory">
        <mat-option *ngFor="let inventory of inventories" [value]="inventory">{{inventory.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [formControl]="isFoil">Move Foils (if checked foils will be moved, if unchecked
      non foils will be moved)
    </mat-checkbox>
    <button (click)="startMove()" [disabled]="!selectedInventory.valid" color="primary" mat-button>Move {{totalCount}}
      cards
    </button>
    <div *ngIf="moving">
      <p>{{completedCount}}/{{totalCount}}</p>
      <mat-progress-bar [value]="completedCount/totalCount*100"></mat-progress-bar>
    </div>
  </div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button (click)="close()" mat-button> Close</button>
</div>
