<div class="box">
  <div class="inventory-grid-wrapper">
    <ag-grid-angular
      (cellValueChanged)="onCellChanged($event)"
      (gridReady)="onGridReady($event)"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [frameworkComponents]="frameworkComponents"
      [rowData]="rows"
      [rowMultiSelectWithClick]="true"
      [tooltipShowDelay]="tooltipShowDelay"
      class="ag-theme-alpine inventory-grid"
      rowSelection="multiple"
    >
    </ag-grid-angular>
  </div>
  <div class="inventory-summary">
    <div>
      <p><b>Card Count:</b></p>
      <p>{{summary.cardCount}}</p>
    </div>
    <div>
      <p><b>Total Value:</b></p>
      <p>${{summary.totalValue|number:'1.2-2'}}</p>
    </div>
    <div>
      <button [matMenuTriggerFor]="actionMenu" mat-raised-button>Actions
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #actionMenu>
        <button (click)="moveSelectedCards()" mat-menu-item>Move cards</button>
        <button disabled mat-menu-item matTooltip="Coming Soon!">Delete Cards</button>
        <button (click)="exportCardKingdomCsv()" mat-menu-item>Export Card Kingdom CSV</button>
      </mat-menu>
    </div>
  </div>
</div>
