.inventory-summary {
  height: 100%;

  div {
    margin: 5px 10px;
  }
}

.inventory-grid-wrapper {
  flex-grow: 1;
  overflow: hidden;

  .inventory-grid {
    height: 100%;
    width: 100%;
  }
}

.box {
  display: flex;
  flex-direction: row;
  height: 100%;
}
