@use "sass:color";

$rarities: ("rare":#e2a309, "mythic":#ff632a, "uncommon":#888, "common":#333);
.legend {
  div {
    display: inline-block;
  }

  .legend-record {
    margin: 0 5px;

    .legend-icon {
      border: black solid 1px;
      height: 10px;
      width: 20px;

      @each $rarity, $color in $rarities {
        &.#{$rarity} {
          background-color: $color;
        }
      }
    }
  }
}

.grid {
  height: 490px;
  overflow-y: scroll;

  .card-analog {
    border: 1px solid black;
    display: inline-block;
    height: 90px;
    margin-left: -1px;
    margin-top: -1px;
    padding: 5px 0;
    position: relative;
    vertical-align: top;
    width: 90px;

    @each $rarity, $color in $rarities {
      &.#{$rarity} {
        color: $color;
      }
    }

    &.owned {
      @each $rarity, $color in $rarities {
        &.#{$rarity} {
          background-color: $color;
          color: white;
        }
      }
    }

    .collector-number {
      bottom: 5px;
      position: absolute;
    }

    .quantity {
      font-size: x-large;
      margin: 1px;
    }

    .rarity {
      margin: 1px auto;
    }

    div {
      text-align: center;
      width: 100%;
    }
  }
}

.progress {
  padding: 5px 10px 10px 5px;

  .ratio {
    float: right;
  }
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;

  .flex-row {
    border: 1px dotted grey;

    &.header {
      flex: 0 1 auto;
    }

    &.content {
      flex: 1 1 auto;
    }

    &.footer {
      flex: 0 1 40px;
    }
  }
}

.owned-icon {
  position: absolute;
  top: 0;
  right: 0;
}
