<ng-container *ngIf="set; then setGrid else selectSet"></ng-container>

<ng-template #selectSet>
  <h4>Please select a set to view the completion</h4>
</ng-template>
<ng-template #setGrid>
  <div class="box">

    <div class="progress flex-row header">
      <span class="title">Set Completion progress</span>
      <span class="ratio">{{ownedCardCount}}/{{cardCount}}</span>
      <mat-progress-bar [value]="ownedCardCount/cardCount*100"></mat-progress-bar>
    </div>
    <div class="grid flex-row content">
      <div *ngFor="let card of setCards"  [closeDelay]="100"
           [ngbPopover]="imagePopover" [openDelay]="100" [class]="card.rarity" [class.owned]="(card.quantity+card.foilQuantity)>0"
           class="card-analog" container="body" placement="left left-top left-bottom right right-top right-bottom" triggers="mouseenter:mouseleave">
        <div class="quantity"><span>{{card.quantity + card.foilQuantity || 0}}</span></div>
        <div class="rarity" ><span>{{card.rarity}}</span></div>
        <div class="collector-number">
          <span>{{card.collectorNumber|number:'3.0-0'}}</span>/<span>{{setCards.length}}</span>
        </div>
        <ng-template #imagePopover>
          <img [src]="card.imageUris?.normal" style="width: 250px;height:348px;display: inline">
        </ng-template>
      </div>
    </div>
    <div class="legend flex-row footer">
      <div *ngFor="let rarity of rarities" class="legend-record">
        <span>{{rarity}} </span>
        <div [class]="rarity" class="legend-icon"></div>
      </div>
    </div>
  </div>
</ng-template>
