<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="inventory-filter-sidenav" mode="side" opened>
    <mat-expansion-panel class="panel" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Inventory</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let inventory of inventoryList$| async;index as i">
          <mat-checkbox (change)="setInventoryChecked($event.checked,inventory)"
                        [checked]="selectedInventories.indexOf(inventory)!==-1"
                        class="inventory-checkbox" [disabled]="loading">{{inventory.name}}</mat-checkbox>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Set</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group [formControl]="setControl">
        <mat-radio-button [value]="undefined" checked class="inventory-checkbox set-id">ALL</mat-radio-button>
        <mat-radio-button *ngFor="let set of sets$|async" [value]="set"
                          class="inventory-checkbox set-id">{{set}}</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group style="height: 100%" (selectedIndexChange)="setSelectedTabIndex($event)"
                   [selectedIndex]="selectedIndex$|async">
      <mat-tab label="Grid">
        <mtgi-inventory-grid *ngIf="rows$|async as rows" [loading]="loading" [rows]="rows"></mtgi-inventory-grid>
      </mat-tab>
      <mat-tab label="Set Completion">
        <mtgi-set-grid *ngIf="rows$|async as rows" [loading]="loading" [rows]="rows"
                       [set]="setControl.value"></mtgi-set-grid>
      </mat-tab>
      <mat-tab label="Value Graph">
        <mtgi-value-graph [inventories]="selectedInventories" [loading]="loading"
                          (refreshSelectedInventories)="refreshSelectedInventories()"
                          [active]="(selectedIndex$|async)===2">
        </mtgi-value-graph>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
