.inventory-filter-sidenav {
  height: 100%;
  width: 200px;

  .inventory-checkbox {
    display: block;
    margin: 5px 0;
  }
}

.sidenav-container {
  height: 100%;
}

.panel {
  margin: 5px;
}

.set-id {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}
