<form (ngSubmit)="submit()" [formGroup]="inputControl">
  <mat-form-field>
    <mat-label>Set</mat-label>
    <div style="display: flex">
      <input formControlName="set" matInput>
      <img *ngIf="selectedSet" [src]="selectedSet.icon_svg_uri" >
      <button mat-raised-button color="primary" (click)="openSetSelection()" type="button">Select</button>
    </div>
    <mat-error *ngIf="inputControl.get('set')?.invalid">Invalid Set ID</mat-error>
  </mat-form-field>
  <p *ngIf="selectedSet">{{selectedSet.name}}</p>
  <br/>
  <mat-form-field>
    <mat-label>Collector Number</mat-label>
    <input (keyup.enter)="submit()" formControlName="number" matInput type="number">
    <mat-error *ngIf="inputControl.get('number')?.invalid">{{inputControl.get('number')?.errors|json}}</mat-error>
  </mat-form-field>
</form>
