<button mat-icon-button (click)="refreshValueGraph()" [disabled]="loading">
  <mat-icon>refresh</mat-icon>
</button>
<ng-container *ngIf="barChartLabels$|async; let barChartLabels">
<ng-container *ngIf="barChartData$ | async; let barChartData">
  <canvas baseChart
          #chart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [chartType]="chartType"
          [options]="chartOptions"
  ></canvas>
</ng-container>
</ng-container>
