div.container {
  display: flex;
}

div.container div {
  margin: 0 2rem;
}

.add-log {
  height: 500px;
  width: 650px;

  div.example-item {
    height: 60px;
  }
}

.card-image-container {
  width: 300px;

  img {
    width: 100%;
  }
}
