
<br class="my-2"/>
<div class="container">
  <div class="ml-0">
    <mat-form-field>
      <mat-select [formControl]="inventorySelect" placeholder="Select Inventory">
        <mat-option *ngFor="let inventory of inventories$|async" [value]="inventory">{{inventory.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mtgi-card-entry (onAddCardRequest)="handleAddCard($event)"></mtgi-card-entry>
  </div>
  <div class="card-image-container m-0">
    <img *ngIf="lastEnteredCard$|async; let lastEnteredCard" [src]="lastEnteredCard.imageUris?.png"
         alt="The card image could not be loaded">
  </div>

  <div>
    <p><b>Card Count: </b>{{cardCount}}&nbsp;&nbsp;<b>Pull Value: </b>${{pullValue|number:'1.2-2'}}</p>
    <cdk-virtual-scroll-viewport class="add-log" itemSize="60">
      <div *cdkVirtualFor="let r of addRequests" class="example-item">
        <mtgi-card-request (undo)="handleUndo(r)" [request]="r"></mtgi-card-request>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

