.slant-right {
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  padding-right: 10%;
  box-shadow: 1rem 0 .5rem 1rem rgba(0, 0, 0, 0.75);
}

.slant-left {
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  padding-left: 10%;
  box-shadow: 1rem 0 .5rem 1rem rgba(0, 0, 0, 0.75);
}

.usage-blurb {
  margin-bottom: 10rem;
  animation: fadeIn ease-in 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
