<div class="jumbotron">
  <h1 class="mat-display-4 d-none d-lg-block">Magic: The Gathering Inventory</h1>
  <h1 class="mat-display-1  d-lg-none">Magic: The Gathering Inventory</h1>
  <h2>This is a simple tool to keep track of your Magic: The Gathering cards, where they are, and what the market value
    is</h2>
</div>
<div class="container">
  <div class="row w-100 p-0 usage-blurb">
    <div class="col-12 w-100 p-0 col-lg-6">
      <video playsinline loop muted autoplay class="w-100">
        <source src="assets/video/card-search-v1.0.7.webm" type="video/webm">
        <source src="assets/video/card-search-v1.0.7.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col slant-left bg-primary text-white d-none d-lg-block">
      <table class="h-100">
        <tbody>
        <tr>
          <td class="align-middle h4"> {{cardSearchDescription}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col bg-primary text-white d-block d-lg-none pt-1">
      <h1>{{cardSearchDescription}}</h1>
    </div>
  </div>
  <div class="row w-100 p-0 usage-blurb">
    <div class="col slant-right bg-primary text-white d-none d-lg-block">
      <table class="h-100">
        <tbody>
        <tr>
          <td class="align-middle h4"> {{directAddDescription}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 w-100 p-0 col-lg-6">
      <video playsinline loop muted autoplay class="w-100">
        <source src="assets/video/direct-add-v1.0.7.webm" type="video/webm">
        <source src="assets/video/direct-add-v1.0.7.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col bg-primary text-white d-block d-lg-none pt-1">
      <h1>{{directAddDescription}}</h1>
    </div>
  </div>
  <div class="row w-100 p-0 usage-blurb">
    <div class="col-12 w-100 p-0 col-lg-7">
      <video playsinline loop muted autoplay class="w-100">
        <source src="assets/video/inventory-v1.0.7.webm" type="video/webm">
        <source src="assets/video/inventory-v1.0.7.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col slant-left bg-primary text-white d-none d-lg-block">
      <table class="h-100">
        <tbody>
        <tr>
          <td class="align-middle h4"> {{inventoryDescription}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col bg-primary text-white d-block d-lg-none pt-1">
      <h1>{{inventoryDescription}}</h1>
    </div>
  </div>
</div>
