<mat-card *ngIf="request">
  <mat-spinner *ngIf="request.loading; else icon" diameter="17" style="display: inline-block"></mat-spinner>
  <span style="width:5rem">{{request.rarity}}</span> <span>{{request.number|number:'3.0-0'}}</span><span
  style="width:10rem">{{request.name}}</span>
  <span>${{request.price}}</span>
  <button [disabled]="request.undone" mat-icon-button>
    <mat-icon (click)="emitUndo()" *ngIf="!request.loading">undo</mat-icon>
  </button>
  <ng-template #icon>
    <ng-container *ngIf="request.success">
      <mat-icon *ngIf="request.type===0" [matBadge]="request.quantity+''">add_circle_outline</mat-icon>
      <mat-icon *ngIf="request.type===1" [matBadge]="request.quantity+''">remove_circle_outline</mat-icon>
    </ng-container>
    <mat-icon *ngIf="!request.success">error</mat-icon>
  </ng-template>
</mat-card>
