.mat-row:hover {
  animation-name: highlight;
  animation-duration: 0.5s;
  background-color: #cfe1ff;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  width: 130%;
}

@keyframes highlight {
  from {
    background-color: white;
    box-shadow: none;
    width: 100%;
  }

  to {
    background-color: #cfe1ff;
    box-shadow:
      0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

img {
  padding: 0 7px;
}
