<div mat-dialog-content>
  <ng-container *ngIf="sets$|async as sets">
  <table mat-table [dataSource]="sets.data">
   <ng-container matColumnDef="setName">
     <th mat-header-cell *matHeaderCellDef>Name</th>
     <td mat-cell *matCellDef="let set">{{set.name}}</td>
   </ng-container>
    <ng-container matColumnDef="releasedAt">
      <th mat-header-cell *matHeaderCellDef>Released At</th>
      <td mat-cell *matCellDef="let set">{{set.released_at}}</td>
    </ng-container>
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef>Icon</th>
      <td mat-cell *matCellDef="let set"><img [src]="set.icon_svg_uri"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns" (click)="rowClick(row)"></tr>
  </table>
  </ng-container>
</div>
