<div class="box">
  <div class="flex-row header">
    <mat-toolbar  color="primary">
      <span routerLink="/">MTG Inventory</span>
      <button (click)="loginClick()" mat-button *ngIf="!(authenticated$|async)">Login</button>
      <button [matMenuTriggerFor]="menu" mat-button>Add Cards</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/search">By Card Name</button>
        <button mat-menu-item routerLink="/direct-add">By Set/Number</button>
      </mat-menu>
      <button mat-button routerLink="/inventory">Inventory</button>
    </mat-toolbar>
  </div>
  <div class="flex-row content">
    <router-outlet ></router-outlet>
  </div>
  <div class="flex-row footer">
    <p>Magic: The Gathering and its respective properties are copyright © <a href="https://company.wizards.com/">Wizards
      of the Coast.</a></p>
    <p>{{version}}</p>
  </div>
</div>
