.box {
  display: flex;
  flex-flow: column;
  height: 100%;

  .flex-row {
    &.header {
      flex: 0 1 auto;
    }

    &.content {
      flex: 1 1 auto;
    }

    &.footer {
      background-color: #f5f5f5;
      color: #6c757d;
      flex: 0 1 40px;
      text-align: center;
    }
  }
}
