img, .card-display {
  width: 200px;

  p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.quantity-input {
  margin: 00.5px;
  text-align: center;
  width: 100px;
  display: inline-block;
}

.mat-form-field-infix {
  border: none;
}

.mat-form-field-wrapper {
  padding-bottom: 0.5rem;
}

.add-card {
  margin-left: 0.5rem;
  padding: 0 0.5rem;
}
