<ng-container *ngIf="card">
  <div class="card-display">
    <img [alt]="card.name" [src]="card.imageUris?.normal">
    <p>{{card.name}}</p>
    <p>{{card.setName}}</p>
    <div [matTooltipDisabled]="inventory!==null" [matTooltip]="disabledMessage">
      <button (click)="decrement()" [disabled]="inventory===null" mat-icon-button>
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <div class="quantity-input mat-form-field-wrapper">
        <div class="mat-form-field-flex">
          <div class="mat-form-field-infix">
            <input [formControl]="quantityControl" matInput type="number">
          </div>
        </div>
      </div>
      <button (click)="increment()" [disabled]="inventory===null" mat-icon-button>
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div [matTooltipDisabled]="!addCardTooltip()" [matTooltip]="addCardTooltip()+''">
      <button (click)="addCard(false)" [disabled]="addCardTooltip()" color="primary" mat-raised-button class="add-card">
        Add Normal
      </button>
      <button (click)="addCard(true)" [disabled]="addCardTooltip()" color="primary" mat-raised-button class="add-card">
        Add Foil
      </button>

    </div>
  </div>
</ng-container>

