@import '~@angular/material/theming';
@import '~src/assets/scss/colors';

@include mat-core();

@import "~node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "~node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

$MTGUI-primary: mat-palette($mtgi-blue, 800);
$MTGUI-accent: mat-palette($mtgi-teal, 800);
$MTGUI-warn: mat-palette($mtgi-red, 700);

$MTGUI-theme: mat-light-theme((
  color: (
    primary: $MTGUI-primary,
    accent: $MTGUI-accent,
    warn: $MTGUI-warn,
  )
));

@include angular-material-theme($MTGUI-theme);

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-label {
  white-space: initial;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/jumbotron';
