<h1 mat-dialog-title>Create Inventory</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Inventory Name</mat-label>
    <input [formControl]="inventoryName" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="createInventory()" color="primary" mat-button>Create</button>
  <button (click)="cancel()" mat-button>Cancel</button>
</div>
